/* linear-gradient memberikan gradasi warna secara garis lurus  
linear gradient memiliki minimal 2 warna,warna awal dan warna akhir*/
/* - linear gradient bukan merupakan property dari css3, melainkan value untuk background-image
 */

div {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  /* background-color: salmon; */
  /* background-image: linear-gradient(warna awal, warna akhir); */
  background-image: linear-gradient(red, yellow, rgba(255, 255, 0, 1), green);
}

.satu {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  /* background-color: salmon; */
  /* background-image: linear-gradient(warna awal, warna akhir); */
  background-image: linear-gradient(
    90deg,
    red,
    yellow,
    rgba(255, 255, 0, 1),
    green
  );
}

.dua {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  /* background-color: salmon; */
  /* background-image: linear-gradient(warna awal, warna akhir); */
  background-image: linear-gradient(
    -90deg,
    red,
    yellow,
    rgba(255, 255, 0, 1),
    green
  );
}
.tiga {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  /* background-color: salmon; */
  /* background-image: linear-gradient(warna awal, warna akhir); */
  background-image: linear-gradient(
    45deg,
    red,
    yellow,
    rgba(255, 255, 0, 1),
    green
  );
}

/* linear-gradient arah  */
/* to buttom
to top 
to left 
to right 
to left top
to left bottom 
to right top 
to right bottom */
.empat {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  /* background-color: salmon; */
  /* background-image: linear-gradient(warna awal, warna akhir); */
  background-image: linear-gradient(to right, red 63%, yellow 80%);
}
